/*
 Css for the bio Area 
 Donald Blanc
*/


h1, h2 {
    color: #4aaaa5;
    font-size: 20px;
    padding-bottom: 13px;
    font-weight: bold;
    margin-top: 23px;
    margin-left: 32px;
}

body{
    background-image: url(../images/concrete-texture.png);
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    font-size: 15px;
}

#entireContentArea{
    width: 960px;
    margin:0;
}

#sideBar{
float: right;
background-color: #ffffff;
margin-top: 20px;
width: 270px;
border: 1px solid #dddddd;
height: auto;
}

.mainContent{
    width: 650px;
    margin: 30px;
    float:left;
    background-color: white;
    margin: 20px 0px 10px 0px;
    border: 1px solid #dddddd;
}

.footer{
    background-color: #666666;
    padding: 20px;
    /* adding the fixed footer */
    /* position: fixed; */
    /* left: 0; */
    /* margin-top: 80%; */
    /* bottom: 0; */
    width: 1024px; 
    text-align: center;
    position: absolute;
    bottom: 0px;

}

.navigation ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.navigation li {
    float: right;
}

.navigation li a {
    display: block;
    color: #4aaaa5;
    text-align: center;
    padding: 51px 16px;
    text-decoration: none;
}
.header {
    position: relative;
    border-bottom: 2px solid;
    border-top: 2px solid;
    background-color: #ffffff;
    border-color: #cccccc;
    height: 104px;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}
.container{
    width: 1024px;
    margin:0 auto;

}
#bio-image{
    width: 200px;
    height: 200px;
    margin-right: 20px;
    float: left;
    margin-left: 34px;
}
.clearfix::after {
    content: "";
    display: block;
    clear: both;
  }

  #name {
    position: relative;
    background-color:#4aaaa5;
    color: white;
    width:190px;
    height:62px;
    text-align: center;
    float: left;
    margin-top:42px; 
    margin-left: 3%;
  }

  #name h3 {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 100%;
    transform: translate(-50%, -50%);
  }

 hr {
    margin: 0px 33px 10px 31px;
    
}
.icons {
    width: 22%;
    height: auto;
    padding: 0.6%;
}
.stackIcon{
    width: 20%;
    height: auto;
    padding: 1.2%;
}

.mainContent p {
    margin-right: 49px;
    margin-left: 37px;
}
